* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.sky {
  height: 100vh;
  width: 100%;
  background-image: url("/Images/sky.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.road-container {
  width: 100%;
  overflow: hidden;
}

.road {
  height: 20rem;
  width: 500%;
  background-image: url("/Images/road.jpg");
  overflow: hidden;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: road 5s linear infinite;
}

@keyframes road {
  100% {
    transform: translateX(-340rem);
  }
}

.city {
  height: 20rem;
  width: 500%;
  background-image: url("/Images/city.png");
  background-repeat: repeat-x;
  position: absolute;
  bottom: 20rem;
  left: 0;
  right: 0;
  animation: city 20s linear infinite;
}

@keyframes city {
  100% {
    transform: translateX(-140rem);
  }
}

.car {
  width: 40rem;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.car img {
  width: 100%;
  animation: car 1s linear infinite;
}

@keyframes car {
  100% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(0px);
  }

  0% {
    transform: translateY(-2px);
  }
}

.wheel {
  left: 50%;
  bottom: 17.8rem;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.wheel img {
  width: 7.2rem;
  height: 7.2rem;
  animation: wheels 0.5s linear infinite;
}

.back-wheel {
  left: -165px;
  position: absolute;
}

.front-wheel {
  left: 80px;
  position: absolute;
}

@keyframes wheels {
  100% {
    transform: rotate(360deg);
  }
}
